<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033806194176-1ee1uchhtosmi9ttcv0ap756hfrsv04h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033806194176-1ee1uchhtosmi9ttcv0ap756hfrsv04h</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Z9zVNqQLaJkwBtgc9otLusGSsmxM-wI</string>
	<key>GCM_SENDER_ID</key>
	<string>1033806194176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wan.BasketStat</string>
	<key>PROJECT_ID</key>
	<string>basketstat-7149c</string>
	<key>STORAGE_BUCKET</key>
	<string>basketstat-7149c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033806194176:ios:2f3596d787351c7f00dae5</string>
</dict>
</plist>